# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
/deploymentTargetDropDown.xml
/gradle.xml
/kotlinc.xml
/migrations.xml
/misc.xml
/vcs.xml
/copyright/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/copyright/Stakancheck.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
/appInsightsSettings.xml
/deploymentTargetSelector.xml
/androidTestResultsUserPreferences.xml
